@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;300;400;500&display=swap");

:root {
  --header-height: 4.125rem;

  /* HSL color mode */
  --body-bg-color: hsl(0, 0%, 100%);
  --first-color: hsl(0, 0%, 4%);
  --first-color-second: hsl(0, 0%, 31%);
  --first-color-third: hsl(0, 0%, 78%);
  --first-color-fourth: hsl(0, 0%, 93%);
  --warn-color: hsl(0, 100%, 39%);
  --active-color: hsl(201, 98%, 32%);
  --positive-color: hsl(201, 86%, 56%);
  --hero-background-color: hsl(210, 66%, 27%);
  --button-product-number-color: hsl(201, 100%, 83%);
  --darkblue-color: hsl(209, 69%, 23%);

  /* font and typography */

  --body-font: "Noto Sans JP", "M PLUS 1 Code", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --bigtitle-font-size: 3.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.313rem;
  --h4-font-size: 1.188rem;

  --section-title-lineheight: 2.75rem;
  --description-lineheight: 1.25rem;

  --hero-title: 2.5rem;
  --hero-subtitle: 1.875rem;

  /* font weight */
  --font-regular: 300;
  --font-semi-bold: 400;
  --font-bold: 500;

  /* margin bottom*/
  /* between HERO title and description*/
  --hero-margin: 0.875rem;
  /* between CONTENTS title and description*/
  --contents-margin: 4rem;
  --contents-half-margin-2: 2rem;
  --contents-quarter-margin-1: 1rem;
  /* between each SECTIONS */
  --section-margin: 9.375rem;
  /* between title and dscrp in IMG BUTTON */
  --img-title-margin: 0.625rem;
  /* between product detail img & text margin */
  --product-detail-img-margin: 2rem;
  /* section top/bottom */
  --section-top-padding: 2rem;
  --section-bottom-padding: 3.75rem;

  /* z index */
  --z-fixed: 100;
  --z-page: 10;
  --z-hero: 1;
}

/* ******************** */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: calc(var(--normal-font-size) + 0.5rem);
  /* margin: var(--header-height) 0 0 0; */
  color: var(--first-color);
  -ms-overflow-style: none;
  overflow-y: scroll;

  -webkit-font-smoothing: subpixel-antialiased;
}

body::-webkit-scrollbar {
  display: none;
}
/* 
::-webkit-scrollbar {
  display: none;
} */

html,
body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  color: var(--first-color);
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

img,
video {
  width: 100%;
}

button,
input {
  border: none;
  font-family: var(--body-bg-color);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

sup {
  font-size: var(--small-font-size);
}

.main {
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -moz-overflow-x: hidden;
  margin: var(--header-height) 0 0 0;
  min-height: calc(100vh - var(--header-height));
}

/* font media minwidth800px */

@media screen and (max-width: 767px) {
  :root {
    /* font and typography */
    --body-font: "Noto Sans JP", sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --bigtitle-font-size: 3.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.313rem;
    --h4-font-size: 1.188rem;

    --section-title-lineheight: 2.75rem;
    --description-lineheight: 1.25rem;
  }
}

/* HEADER */ /* HEADER */ /****************************************************************************************/ /* HEADER */ /* HEADER */
.header {
  width: 100%;
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
  left: 0;
  background-color: var(--body-bg-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* NAV */ /* NAV */ /**********************************************************************************************/ /* NAV */ /* NAV */

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-flex-align: center;
  cursor: pointer;
  pointer-events: auto;
}

.nav_logo {
  height: 1.25rem;
  width: auto;
}

.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.75rem;
  padding-top: 1.5rem;
}

.nav_link {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
}

.nav_list li:nth-child(5) > a {
  color: var(--positive-color);
  position: relative;
}

.nav_link:hover {
  color: var(--first-color-third);
}

.nav_list li:nth-child(5) > a:hover {
  color: var(--active-color);
}

.nav_social {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 5rem;
}

.nav_social_link {
  color: var(--first-color);
  font-size: 1rem;
  transition: all 100ms ease-in;
}

.nav_social_link:hover {
  color: var(--first-color);
}

@media screen and (min-width: 885px) {
  /* body {
    margin: 0;
  } */

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav_link {
    color: var(--first-color);
  }

  .nav_menu {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav_social {
    margin: auto;
    padding-left: 1rem;
    border-left: 0.5px solid var(--first-color-fourth);
  }

  .nav_social_link {
    color: var(--first-color);
    font-size: 1rem;
    transition: all 100ms ease-in;
  }

  .nav_social_link:hover {
    color: var(--first-color-third);
  }

  .nav_close,
  .nav_toggle {
    display: none;
  }
}
/* toggle MENU */ /* toggle MENU */ /************************************************************************/ /* toggle MENU */ /* toggle MENU */

@media screen and (max-width: 884px) {
  .nav_menu {
    position: fixed;
    background-color: var(--body-bg-color);
    top: 0;
    width: 70%;
    height: 100%;
    box-shadow: 1px 0 4px hsla(var(--first-color-second), 64%, 15%, 0.15);
    right: -100%;
    padding: 3rem;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
}

@media screen and (max-height: 480px) {
  .nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    padding-top: 1.5rem;
  }
}

.show-menu {
  right: 0;
}

.nav_close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav_toggle {
  font-size: 1.5rem;
}

/* Title / Description */ /* *************************************************************************** */ /* Title / Description */
.textalign {
  margin: var(--contents-margin) auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--contents-quarter-margin-1);
}

.title_bar {
  margin: 0 auto var(--contents-half-margin-2);
  width: 70px;
  height: 4px;
  background-color: black;
}

.description {
  margin: auto;
  max-width: 600px;
  font-weight: 300;
}

/* LP Description */ /* ************************************************************************************ */ /* LP Description */
.description_home {
  padding-bottom: var(--contents-quarter-margin-1);
}

.more_box {
  max-width: 600px;
  margin: auto;
  text-align: right;
}

.more_box_a {
  color: var(--darkblue-color);
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 0.5rem;
}

.more_box_a > i {
  font-size: var(--h4-font-size);
  margin: 0.1rem 0.3rem 0 0;
}

/* CONTAINER */ /* ************************************************************************************** */ /* CONTAINER */
.container {
  width: 100%;
  max-width: 968px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION */ /* 各コンテンツの間隔 */ /* ********************************************************** */ /* SECTION */ /* 各コンテンツの間隔 */
/* 共通セクション（各コンテンツの間隔）Padding */
.section {
  padding-top: var(--section-top-padding);
  padding-bottom: var(--section-bottom-padding);
}

/* オプション品のセクションPadding */
.section_accessories {
  padding-top: 0;
  padding-bottom: 0;
}

/* ProductButton  */ /* 製品のボタン */ /* ********************************************************** */ /* ProductButton  */ /* 製品のボタン */

/* 製品一覧・ダウンロード・取説ダウンロードページの製品ボタン */
.section_button {
  min-height: 140px;
  background-color: var(--body-bg-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.section_button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section_button_a {
  color: var(--first-color);
}

.section_button_img {
  width: 100%;
}

.section_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  line-height: var(--section-title-lineheight);
  text-align: center;
  margin: 2rem auto;
}

.section_description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  padding: 0 1rem;
  text-align: center;
}

.product_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
  justify-content: center;
  gap: 20px;
  padding: 0 1rem;
  min-height: 290px;
}

.product_img {
  width: 100%;
}

.section_button_img_overlay {
  border-radius: 1rem 1rem 0 0;

  height: 60%;
  overflow: hidden;
  display: flex;
}

.product_description {
  text-align: center;
  padding: 0.5rem;
}

.product_description > p {
  font-weight: var(--font-regular);
  line-height: var(--description-lineheight);
}

/* HERO */ /* LP */ /* ***************************************************************************** */ /* HERO */ /* LP */

.home_azmee_reponstivebr {
  display: none;
}

@media screen and (max-width: 460px) {
  .home_azmee_reponstivebr {
    display: block;
  }
}

.herosection {
  width: 100%;
  height: 40vh;
}

.herosection_home {
  height: 60vh;
}

.hero_all {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  background-color: var(--first-color-second);
  background-size: cover;
  background-position: center;
}

/* HERO */ /* AIカメラ */ /* ***************************************************************************** */ /* HERO */ /* AIカメラ */

.hero_all_product {
  background-position: 50% 30%;
}

.hero_all_text {
  margin: auto;
  text-align: center;
  max-width: 968px;
  color: var(--body-bg-color);
}

.hero_all_text_menuname {
  font-size: var(--h1-font-size);
  line-height: var(--h1-font-size);
  margin-bottom: 1rem;
}

.hero_all_text_description {
  font-size: var(--h4-font-size);
}
.hero {
  width: 100%;
  height: 200px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

/*　フール背景になるビデオ・画像の枠 */
.herosection-mainproduct {
  height: 100vh;
  min-height: 400px;
}

.hero-mainproduct {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.hero-mainproduct > video,
.hero-mainproduct > img {
  object-fit: cover;
}

/*タイトル・サブタイトル・メディアの枠*/

.hero-description-boxes-camera {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: var(--header-height);
  transform: translate(-50%, -50%);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

/* タイトル */
.hero-description-boxes-camera-title {
  font-size: var(--hero-title);
  line-height: calc(var(--hero-title) + 0.5rem);
}
/* サブタイトル */
.hero-description-boxes-camera-subtitle {
  font-size: var(--hero-subtitle);
  line-height: var(--hero-subtitle);
}

.hero-description-boxes-camera-title,
.hero-description-boxes-camera-subtitle {
  color: var(--body-bg-color);
  font-weight: var(--font-bold);
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

/* br タグ */
.hero-description-boxes-camera-responsivebr {
  display: none;
}

@media screen and (max-width: 767px) {
  :root {
    --hero-title: 2.5rem;
    --hero-subtitle: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .hero-description-boxes-camera-responsivebr {
    display: block;
  }

  .hero-description-boxes-camera-title {
    font-size: var(--h1-font-size);
    line-height: calc(var(--h1-font-size) + 0.5rem);
  }

  .hero-description-boxes-camera-subtitle {
    font-size: var(--h3-font-size);
    line-height: var(--h3-font-size);
    margin-bottom: var(--contents-quarter-margin-1);
  }
}

/* メディア */

.productdetail_media {
  width: 90%;
  max-width: 968px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  text-align: center;
  margin: 2rem auto;
}

.productdetail_media_title {
  color: var(--body-bg-color);
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.productdetail_media_list {
  width: 200px;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  -webkit-justify-content: center;
}

.productdetail_media_overlay {
  width: 200px;
  height: 50px;
  overflow: hidden;
  display: flex;
}

@media screen and (max-height: 450px) {
  .productdetail_media {
    width: 90%;
    max-width: 968px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
  }
}

@media screen and (max-height: 530px) {
  .productdetail_media_list {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    row-gap: 15px;
    column-gap: 10px;
    justify-content: center;
    -webkit-justify-content: center;
  }

  .productdetail_media_overlay {
    width: 200px;
    height: 30px;
    overflow: hidden;
    display: flex;
  }
}

/* スクロールアイコン ：アニメーション*/
.scroll_hero_icon {
  position: relative;
  padding: 1.5rem 0;
}

.hero-icon,
.hero-icon:before {
  position: absolute;
  left: 50%;
}

.hero-icon {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px var(--body-bg-color);
  border-radius: 25px;
}

.hero-icon:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--body-bg-color);
  margin-left: -5px;
  top: 50px;
  border-radius: 50%;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scrollY;
}

@keyframes scrollY {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-46px);
  }
}

@media screen and (max-height: 640px) {
  .hero-icon {
    display: none;
  }
}

/* HERO */ /* オプション */ /* ***************************************************************************** */ /* HERO */ /* オプション */

/* heroの枠 */
.herosection-option {
  background: var(--body-bg-color);
  height: 40vh;
  min-height: 250px;
  padding-top: 1rem;
}

/* heroの全コンテンツの枠 */
.hero-product-option {
  padding-top: var(--header-height);
  width: 100%;
  max-width: 968px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
}

.hero-product-option-overlay {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.hero-product-option-img {
  object-fit: cover;
}

.hero-description-option {
  position: inherit;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 0 1rem;
}

/* font */
.hero-description-option > h1,
.hero-description-option > h2,
.hero-description-option > div > div > p {
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.hero-description-option_title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-font-size);
}

.hero-description-option_subtitle {
  font-size: var(--h3-font-size);
}

.hero-description-boxes-option {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
  gap: 10px;
}

.hero-desciription-boxes-a-option {
  font-size: var(--h4-font-size);
  border: solid 0.25px var(--first-color);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--body-bg-color);
  padding: 0 0.5rem;
}

@media screen and (max-width: 600px) {
  .hero-description-option {
    position: relative;
  }

  .hero-desciription-boxes-a-option {
    font-size: var(--normal-font-size);
    /* border: solid 0.25px var(--body-bg-color); */
    /* backdrop-filter: blur(7px); */
    width: 100%;
    height: 58px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--body-bg-color); */
  }

  .herosection-option {
    height: 100%;
    /* min-height: 450px; */
  }

  .hero-product-option {
    min-width: 300px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 0px;
    row-gap: 0px;
  }

  .hero-product-option-overlay {
    width: 70%;
    margin: 0 auto;
  }

  .hero-description-option > h1,
  .hero-description-option > h2,
  .hero-description-option > div > div > p {
    color: var(--first-color);
  }

  .hero-description-option > h1 {
    font-size: var(--h2-font-size);
  }

  .hero-description-option > h2 {
    font-size: var(--h3-font-size);
  }
}

/* オプションのコンテンツ画像・Fignation */
.option_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  justify-content: center;
  gap: 20px;
}

.option_gallery_img {
  width: 100%;
  background-color: var(--first-color-second);
  border: solid 1px var(--first-color-third);
}

.option_gallery_figcaption {
  background-color: var(--first-color-second);
  color: var(--body-bg-color);
  text-align: left;
  font-weight: var(--font-regular);
  padding: 0.25rem 1rem;
  font-size: var(--body-font);
}

/* COMPONENT */ /* ************************************************************************************ */ /* COMPONENT  構成品*/
/* 構成品 */
.components_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 20px;
  justify-content: center;
}

.component_card {
  width: 150px;
}

.component_overlay {
  width: 150px;
  height: 150px;
  border: solid 0.25px var(--first-color-third);
  display: flex;
}

.component_overlay > img {
  width: 130px;
  margin: auto;
}

.component_overlay_img_smallest_horizon {
  max-width: 80px;
}

.component_overlay_img_smallest_vertical {
  max-height: 130px;
}

.component_p {
  padding-top: 0.5rem;
  font-weight: var(--font-regular);
  text-align: center;
  font-size: var(--small-font-size);
}

/* STOPSELL */ /* ******************************************************************************* */ /* STOP SELLING *** 発 売 終 了 ***/

.stopselling_overlay {
  width: 150px;
  height: 150px;
}

.stopselling_description {
  font-size: calc(var(--normal-font-size) - 0.25rem);
  line-height: var(--normal-font-size);
  text-align: center;
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  padding: 0.5rem 0.25rem;
}

.stopselling_description > span {
  font-size: var(--small-font-size);
}

.stopselling_card {
  width: 150px;
}

.stopselling_list {
  width: 100%;
  max-width: 968px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 145px);
  gap: 10px;
  justify-content: center;
}

/* BUTTON */ /* ******************************************************************************************* */ /* BUTTON */
.button_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.button_description {
  font-weight: var(--font-regular);
  line-height: var(--description-lineheight);
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}

.button {
  background-color: var(--darkblue-color);
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  text-align: center;
  text-decoration: none;
  color: var(--body-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 100ms ease-in;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button_stopselling {
  background-color: var(--warn-color);
}

.button > a {
  color: var(--body-bg-color);
}

.button:hover,
.button:active {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.button_img_overlay {
  width: 90%;
  min-height: 60px;
  max-height: 120px;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.5px solid var(--body-bg-color);
}

.button_img_overlay > img {
  object-fit: cover;
}

/* CONTENTS INSIDE */ /* ******************************************************************************************* */ /* CONTENTS INSIDE */

.v_contents {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}

.v_contents > iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.v_contents_inside {
  margin: 20px 0;
}

.img_contents {
  width: 100%;
  overflow: hidden;
}

.media_list {
  width: 280px;
  margin: auto;
}

.media_logo_overlay {
  width: 280px;
  height: 130px;
  overflow: hidden;
  display: flex;
}

.media_logo_overlay > img {
  object-fit: cover;
  margin-top: -20px;
}

/* link font */
.productdetail_link_a {
  color: var(--positive-color);
  font-weight: var(--font-semi-bold);
}

/* font */

.productdetail_title {
  text-align: center;
  line-height: var(--h1-font-size);
  margin-top: var(--section-top-padding);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--contents-quarter-margin-1);
}

.productdetail_subtitle {
  font-size: var(--h4-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 0;
}

.productdetail_description {
  margin: auto;
  max-width: 600px;
  font-weight: 300;
  padding-bottom: var(--section-bottom-padding);
}
/* コンテンツの間のFont */
.productdetail_text_p_inside {
  padding-top: var(--section-bottom-padding);
}

.productdetail_description_accessories {
  padding-bottom: 0;
}

/* Appeal phoint ver.01 */ /* ************************************************************************************* */ /* 特長*/ /* Appeal phoint ver.01 */

.description_appeallist {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 1rem;
}

.description_appealpoint {
  width: 100%;
  min-height: 60px;
  background-color: var(--first-color-fourth);
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.description_appealpoint_details {
  font-weight: var(--font-regular);
  text-align: left;
  margin-top: 1rem;
  display: none;
}

.description_appealpoint > span {
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
}

/* toggle */
.display {
  display: block;
}

.height {
  max-height: 270px;
}

.description_appeallist_toggle {
  width: 250px;
  text-align: center;
  cursor: pointer;
  color: var(--body-bg-color);
  font-weight: var(--font-semi-bold);
  padding: 0.5rem 1rem;
  background-color: var(--darkblue-color);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

.description_appeallist_toggle:hover {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* gif */

.productdetail_gif_bg_p2_1 {
  background-image: url(./img/product/acsl0003/p2.jpg);
  background-size: cover;
}

.productdetail_gif_bg_p8_1 {
  background-image: url(./img/product/acsl0003/p8.jpg);
  background-size: cover;
}

/* 仕様 */

.spectest {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 450px));
  column-gap: 1rem;
}

.table_spec {
  width: 100%;
}

.table_spec_category,
.table_spec_description {
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: var(--font-regular);
}
.table_spec_category {
  background-color: var(--first-color-third);
  width: 30%;
  min-width: 100px;
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.table_spec_description {
  background-color: var(--first-color-fourth);
}

.table_spec_empty {
  visibility: hidden;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .table_spec_empty {
    display: none;
  }
}

/* 関連商品 */

.otherproduct_list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.otherproduct {
  background-color: var(--first-color-fourth);
}

.otherproduct_title {
  text-align: center;
  font-size: var(--h4-font-size);
}

/* ps */

.section_ps {
  background-color: var(--first-color-third);
}
.ps {
  font-size: var(--small-font-size);
}

/* ABOUT */ /* ABOUT */ /* ************************************************************************************* */ /* ABOUT */ /* ABOUT */

/* 沿革 */
.about_history {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, auto));
  grid-template-rows: repeat(5, 65px);
  align-content: center;
  justify-content: center;
  background-color: var(--first-color-fourth);
  border-radius: 1rem;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: auto;
}

.about_history_year_grid_list_box_point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--first-color);
  position: absolute;
  right: -5px;
  top: 25px;
}

.point2 {
  top: 65px;
}

.point3 {
  top: 133px;
  width: 7px;
  height: 7px;
  right: -3.5px;
}

.point4 {
  top: 190px;
}

.point5 {
  top: 255px;
}

/* 沿革　年度 */

.about_history_year_grid_list {
  grid-column-start: 1;
  grid-column-end: 2;
}

.about_history_year_grid_box {
  width: 100px;
  height: 320px;
  border-right: 1px solid var(--first-color);
  text-align: left;
  padding-top: 1rem;
  top: 0;
  position: relative;
}

.about_history_year_grid_list_text {
  font-weight: var(--font-semi-bold);
  font-size: var(--h4-font-size);
  margin-bottom: 1rem;
}

.about_history_year_grid_list_text:nth-child(2) {
  margin-bottom: 2.8rem;
}
.about_history_year_grid_list_text:nth-child(3) {
  margin-bottom: 2rem;
}
.about_history_year_grid_list_text:nth-child(4) {
  margin-bottom: 2.7rem;
}
.about_history_year_grid_list_text:nth-child(5) {
  margin-bottom: 2.5rem;
}

/* 沿革　内容 */

.about_history_description_list {
  margin: 0 2rem;
  grid-column-start: 2;
  grid-column-end: 4;
  top: 0;
  padding-top: 1rem;
}

.about_history_description_list_text {
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.about_history_description_list_text_sub {
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
  color: var(--first-color);
}

/* 沿革　画像 */

.about_history_pic_grid {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_history_pic_grid_card {
  text-align: center;
}

.about_history_pic_grid_card_overlay {
  max-width: 110px;
  min-width: 50px;
  overflow: hidden;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.about_history_pic_overlay > img {
  object-fit: cover;
}

.about_history_pic_grid_card_name {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

@media screen and (max-width: 480px) {
  .about_history_description_list_text {
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
  }

  .about_history_year_grid_box {
    width: 70px;
  }
  .about_history {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, auto));
    grid-template-rows: repeat(5, 90px);
    align-items: center;
    justify-content: center;
  }

  .about_history_year_grid_list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .about_history_description_list {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    padding-top: 0.4rem;
  }

  .about_history_pic_grid {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 1rem;
    gap: 0.25rem;
  }
}

/* 概要 */
.about_table {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 700px));
  column-gap: 1rem;
}

.about_table_tb {
  border-collapse: collapse;
}

.about_table_tb tr:nth-child(odd) {
  background-color: var(--first-color-fourth);
}

.about_table_body > tr > td {
  padding: 0.5rem 1rem;
}

.about_table_title {
  width: 100px;
  vertical-align: top;
}

.about_table_description {
  font-weight: var(--font-regular);
}

/* 採用 */
.recruit-widget {
  margin-top: 3rem;
  width: 100%;
  height: 400px;
}

.recruit,
.about {
  align-items: center;
}

.recruit > p {
  text-align: center;
}

#engage-contributions-widget-wrapper {
  height: 420px;
}

/* LP */ /*LP*/ /*******************************************************************************************/ /*LP*/ /*LP*/
/* embedded aiのいいところ */
.embeddedai {
  width: 100%;
  margin: 1.5rem auto 0;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  background-color: var(--first-color-fourth);
  max-width: 800px;
  padding: 2rem 0;
  border-radius: 1rem;
}

.embeddedai_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 220px;
  height: 220px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
}

.embeddedai_card_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.embeddedai_description {
  margin-top: 1.5rem;
  text-align: center;
  line-height: var(--h1-font-size);
}

.embeddedai_description_span {
  color: var(--active-color);
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
  margin: 1rem 0;
  border-bottom: 2px solid var(--active-color);
}

[class|="embeddedai_description_span"]:last-child {
  color: var(--positive-color);
  border-bottom: 2px solid var(--positive-color);
}

.embeddedai_responsivebr {
  display: none;
}

@media screen and (max-width: 732px) {
  .embeddedai {
    width: 100%;
    margin: 1.5rem auto 0;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  }
  .embeddedai_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 170px;
    height: 170px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
  }

  .embeddedai_responsivebr {
    display: block;
  }

  .embeddedai_card_title {
    font-size: var(--h4-font-size);
  }
}

@media screen and (max-width: 581px) {
  .embeddedai {
    width: 100%;
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .embeddedai_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 170px;
    height: 170px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
  }
}

/* RELEASE */ /* ******************************************************************************************* */ /* RELEASE */

.release_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 250px));
  justify-content: center;
  gap: 20px;
  padding: 0 1rem;
}

.release_button {
  background-color: var(--body-bg-color);
}

.release_link {
  display: flex;
  flex-direction: column;
}

.release_img_overlay {
  height: 45%;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  bottom: 0;
}

.release_description {
  min-height: 145px;
  max-height: 220px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  margin: 0.75rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.release_media_list {
  width: 300px;
  height: 70px;
  overflow: hidden;
  margin: auto;
}

.release_media_logo {
  width: 200px;
  height: auto;
  margin-top: -4rem;
}

.release_media {
  text-align: center;
}

.release_media_description {
  margin-top: var(--hero-margin);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
}

/* DOWNLOAD */ /* ******************************************************************************************* */ /* DOWNLOAD */
.download_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0 1rem;
}

.download_description {
  min-height: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  margin: 0.75rem auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.download_warning_description,
.contact_warning_description,
.contact > p {
  max-width: 600px;
  font-weight: var(--font-regular);
  text-align: left;
  margin: 3rem auto;
}

.download_warning_a,
.contact_warning_a {
  color: var(--positive-color);
  border-bottom: solid 1px;
  font-weight: var(--font-semi-bold);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

.download_warning_description > span :hover,
.contact_warning_link :hover {
  color: var(--darkblue-color);
}

.contact_warning,
.download_warning {
  text-align: center;
}

.check-text {
  font-weight: var(--font-semi-bold);
  color: var(--positive-color);
}

/* CONTACT */ /* ******************************************************************************************* */ /* CONTACT */

.contact_list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  justify-content: center;
  align-content: center;
  gap: 10px;
}

/* CHECK BOX */ /* ******************************************************************************************* */ /* CHECK BOX */

.toggle_page {
  filter: opacity(0.7);
  pointer-events: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.open-page {
  filter: opacity(1);
  pointer-events: all;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

/* FOOTER */ /* ******************************************************************************************* */ /* FOOTER */

.footer {
  width: 100%;
  background-color: var(--first-color-second);
  color: var(--body-bg-color);
  height: var(--header-height);
  text-align: center;
  font-size: var(--small-font-size);
}
