@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
:root {
  --header-height: 4.125rem;

  /* HSL color mode */
  --body-bg-color: hsl(0, 0%, 100%);
  --first-color: hsl(0, 0%, 4%);
  --first-color-second: hsl(0, 0%, 31%);
  --first-color-third: hsl(0, 0%, 78%);
  --first-color-fourth: hsl(0, 0%, 93%);
  --warn-color: hsl(0, 100%, 39%);
  --active-color: hsl(201, 98%, 32%);
  --positive-color: hsl(201, 86%, 56%);
  --hero-background-color: hsl(210, 66%, 27%);
  --button-product-number-color: hsl(201, 100%, 83%);
  --darkblue-color: hsl(209, 69%, 23%);

  /* font and typography */

  --body-font: "Noto Sans JP", "M PLUS 1 Code", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --bigtitle-font-size: 3.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.313rem;
  --h4-font-size: 1.188rem;

  --section-title-lineheight: 2.75rem;
  --description-lineheight: 1.25rem;

  --hero-title: 2.5rem;
  --hero-subtitle: 1.875rem;

  /* font weight */
  --font-regular: 300;
  --font-semi-bold: 400;
  --font-bold: 500;

  /* margin bottom*/
  /* between HERO title and description*/
  --hero-margin: 0.875rem;
  /* between CONTENTS title and description*/
  --contents-margin: 4rem;
  --contents-half-margin-2: 2rem;
  --contents-quarter-margin-1: 1rem;
  /* between each SECTIONS */
  --section-margin: 9.375rem;
  /* between title and dscrp in IMG BUTTON */
  --img-title-margin: 0.625rem;
  /* between product detail img & text margin */
  --product-detail-img-margin: 2rem;
  /* section top/bottom */
  --section-top-padding: 2rem;
  --section-bottom-padding: 3.75rem;

  /* z index */
  --z-fixed: 100;
  --z-page: 10;
  --z-hero: 1;
}

input {
  padding-left: 0.25rem;
}

input,
select {
  height: 1.75rem;
  border-radius: 0.15rem;
}

.contactform {
  margin: auto;
  padding: 0 1rem;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40%[col-start] 60%[col-end]);
  gap: 1rem;
  justify-content: space-between;
}

/* .contactform_description {
  font-weight: ;
} */

.contactform_description span,
.contactform label span {
  color: red;
  margin-left: -2px;
  font-family: "Sawarabi Gothic", sans-serif;
}

.contactform div[id^="name"] {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.contactform div[id^="name"] input {
  max-width: 100px;
}

.contactform div[id^="name"] p {
  color: grey;
  white-space: nowrap;
  font-size: 0.8rem;
}

.contactform div[id^="address"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40% [col-start] 60%[col-end]);
  row-gap: 1rem;
}

input[id^="address"] {
  width: 100%;
}

.contactform label[for="buy"],
.contactform label[for="bought"] {
  min-width: 400px;
}

.contactform div[id="buy"],
.contactform div[id="bought"] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}

.contactform div[id="buy"] input,
.contactform div[id="bought"] input {
  margin-left: 0.15rem;
}

.contactform label[for="message"] {
  grid-column-start: 1;
  grid-column-end: 3;
}
.contactform textarea {
  width: 100%;
  height: 400px;
  grid-column-start: 1;
  grid-column-end: 3;
  resize: none;
}

.contactform input[id="contact-submit"] {
  margin-right: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100px;
  text-align: center;
  background-color: var(--darkblue-color);
  color: var(--body-bg-color);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contactform input[id="contact-submit"]:hover,
.contactform input[id="contact-submit"]:active {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -moz-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

label ~ textarea {
  border-radius: 0.15rem;

  padding: 0.25rem;
}

p ~ input[type="text"],
label ~ input[type="text"],
label ~ input[type="email"],
label ~ textarea,
label ~ select {
  border: 1px solid rgba(137, 137, 137, 0.3);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

p ~ input[type="text"]:focus,
label ~ input[type="text"]:focus,
label ~ input[type="email"]:focus,
label ~ textarea:focus,
label ~ select:focus {
  border: 1px solid rgba(56, 169, 254, 0.9);
  box-shadow: rgba(56, 169, 254, 0.3) 0px 1px 2px 2px,
    rgba(56, 169, 254, 0.3) 0px 2px 6px 0px;
  -webkit-box-shadow: rgba(56, 169, 254, 0.3) 0px 1px 2px 2px,
    rgba(56, 169, 254, 0.3) 0px 2px 6px 0px;
  -moz-box-shadow: rgba(56, 169, 254, 0.3) 0px 1px 2px 2px,
    rgba(56, 169, 254, 0.3) 0px 2px 6px 0px;
  outline: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 544px) {
  .contactform {
    padding: 0 0.25rem;

    max-width: 500px;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, 40%[col-start] 60%[col-end]); */
    gap: 1rem;
    justify-content: space-between;
  }

  .contactform div[id^="name"] input {
    max-width: 160px;
    min-width: 70px;
  }

  .contactform label[for="buy"],
  .contactform label[for="bought"] {
    min-width: 200px;
  }

  .contactform input[id="contact-submit"] {
    margin: auto;
  }

  .contactform div[id="buy"],
  .contactform div[id="bought"] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
}
