@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;300;400;500&display=swap");

:root {
  --header-height: 4.125rem;

  /* HSL color mode */
  --body-bg-color: hsl(0, 0%, 100%);
  --first-color: hsl(0, 0%, 4%);
  --first-color-second: hsl(0, 0%, 31%);
  --first-color-third: hsl(0, 0%, 78%);
  --first-color-fourth: hsl(0, 0%, 93%);
  --warn-color: hsl(0, 100%, 39%);
  --active-color: hsl(201, 98%, 32%);
  --positive-color: hsl(201, 86%, 56%);
  --hero-background-color: hsl(210, 66%, 27%);
  --button-product-number-color: hsl(201, 100%, 83%);
  --darkblue-color: hsl(209, 69%, 23%);
  --contents-background-color: hsl(0, 0%, 96%);
  --contents-title-backgroudn-color: hsl(330, 1%, 44%);

  /* font and typography */

  --body-font: "Noto Sans JP", "M PLUS 1 Code", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --bigtitle-font-size: 3.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.313rem;
  --h4-font-size: 1.188rem;

  --section-title-lineheight: 2.75rem;
  --description-lineheight: 1.25rem;

  --hero-title: 2.5rem;
  --hero-subtitle: 1.875rem;

  /* font weight */
  --font-regular: 300;
  --font-semi-bold: 400;
  --font-bold: 500;

  /* margin bottom*/
  /* between HERO title and description*/
  --hero-margin: 0.875rem;
  /* between CONTENTS title and description*/
  --contents-margin: 4rem;
  --contents-half-margin-2: 2rem;
  --contents-quarter-margin-1: 1rem;
  /* between each SECTIONS */
  --section-margin: 9.375rem;
  /* between title and dscrp in IMG BUTTON */
  --img-title-margin: 0.625rem;
  /* between product detail img & text margin */
  --product-detail-img-margin: 2rem;
  /* section top/bottom */
  --section-top-padding: 2rem;
  --section-bottom-padding: 3.75rem;

  /* z index */
  --z-fixed: 100;
  --z-page: 10;
  --z-hero: 1;
}

.contents-acsl0003-monitorgif-el-img {
  width: 100%;
  max-width: 968px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1rem;
  margin: 2rem 0;
  justify-content: center;
}

/* 実際の映像 */
.contents-acsl0003-monitorgif-el-gif,
.contents-acsl0003-monitorgif-el-svg {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* 実際の映像ー　表示アイコン */
.contents-acsl0003-monitorgif-el-icon {
  text-align: center;
}

.contents-acsl0003-monitorgif-el-icon-ul {
  max-width: 600px;
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  gap: 1rem;
  justify-content: center;
}

.contents-acsl0003-monitorgif-el-icon-li {
  display: flex;
  gap: 10px;
  text-align: left;
}
.contents-acsl0003-monitorgif-el-icon-li img {
  width: 20px;
}

/* 実際の映像ー　表示アイコン： 説明文*/

.contents-acsl0003-monitorgif-el-icon-descrpt-ul {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
  justify-content: center;
}

.contents-acsl0003-monitorgif-el-icon-descrpt-ul-li > img {
  max-width: 50px;
  height: 30px;
}

/* 検知対象：イラスト */

.contents-acsl0003-object-illust-ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(200px, auto));
  grid-template-rows: repeat(2, minmax(200px, auto));
}

@media screen and (max-width: 768px) {
  .contents-acsl0003-object-illust-ul {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.contents-acsl0003-object-illust-ul-li {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

/* 検知対象：アイコン */

.contents-acsl0003-objicon-icons {
  display: grid;
  grid-template-columns: repeat(6, minmax(10px, auto));
  grid-template-rows: repeat(2, minmax(10px, auto));
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--body-bg-color);
  padding: 2rem 0;
  margin: 1rem;
  gap: 20px;
  border-radius: 2rem;
}

.contents-acsl0003-objicon-icons-el:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.contents-acsl0003-objicon-icons-el:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.contents-acsl0003-objicon-icons-el:last-child {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (min-width: 691px) and (max-width: 910px) {
  .contents-acsl0003-objicon-icons {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, auto));
    grid-template-rows: repeat(4, minmax(10px, auto));
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
    padding: 2rem 0;
    margin: 1rem;
    row-gap: 40px;
    column-gap: 70px;
    border-radius: 2rem;
  }
  .contents-acsl0003-objicon-icons-el:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .contents-acsl0003-objicon-icons-el:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .contents-acsl0003-objicon-icons-el:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 690px) {
  .contents-acsl0003-objicon-icons {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, auto));
    grid-template-rows: repeat(3, minmax(10px, auto));
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
    padding: 2rem 0;
    margin: 0.5rem;
    row-gap: 40px;
    column-gap: 10px;
    border-radius: 2rem;
  }
  .contents-acsl0003-objicon-icons-el:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .contents-acsl0003-objicon-icons-el:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .contents-acsl0003-objicon-icons-el:last-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.contents-acsl0003-objicon-icons-el-title {
  background-color: #697ab9;
  width: 80px;
  text-align: center;
  color: var(--body-bg-color);
  border-radius: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

.blue {
  background-color: #4dbdef;
}
.contents-acsl0003-objicon-icons-el-li {
  display: flex;
  gap: 10px;
}

.contents-acsl0003-objicon-icons-el-li-icon {
  width: 110px;
  height: 70px;
}

@media screen and (max-width: 480px) {
  .contents-acsl0003-objicon-icons-el-li-icon {
    width: 60px;
    height: 40px;
  }
}

.contents-acsl0003-objicon-icons-el {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 検知対象：検知しません */
.contents-acsl0003-objicon-no,
.contents-acsl0003-objicon-warn,
.contents-acsl0003-objicon-warn-obj-title,
.contents-acsl0003-objicon-warn-obj-ul {
  max-width: 600px;
  text-align: left;
  margin: 3rem auto;
}

.contents-acsl0003-objicon-warn-obj-title,
.contents-acsl0003-objicon-warn-obj-ul {
  margin: 1rem auto;
}

.contents-acsl0003-objicon-no-title,
.contents-acsl0003-objicon-warn-title {
  margin-bottom: 0.5rem;
}

.contents-acsl0003-objicon-no-ul {
  padding-left: 0.5rem;
}
.contents-acsl0003-objicon-no-ul-li,
.contents-acsl0003-objicon-warn-obj-ul-li {
  margin-bottom: 0.5rem;
}

.contents-acsl0003-objicon-warn-obj {
  background-color: var(--body-bg-color);
  padding: 2rem 1rem;
  margin: 1rem;

  border-radius: 2rem;
}
.contents-acsl0003-objicon-warn-obj-icon {
  width: 20px;
}

/* 検知範囲 :レイアウト*/

.contents-acsl0003-area-layout {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(240px, auto) [col-start] 1fr[col-end]
  );
  gap: 20px;
  grid-template-rows: repeat(auto-fit, 1fr 1fr);
  padding: 1rem;
  justify-content: space-evenly;
}

.contents-acsl0003-area-layout-illust {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.contents-acsl0003-area-layout-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.contents-acsl0003-area-layout-warning {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* 検知範囲：左側のイラスト */

.contents-acsl0003-area-layout-illust-51-syasen {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}
.contents-acsl0003-area-layout-illust-151-syasen-icon {
  width: 20px;
}

.contents-acsl0003-area-layout-illust-151-relative {
  margin-top: 1rem;
  position: relative;
  width: 200px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  right: 50px;
}

.contents-acsl0003-area-layout-illust-151-absolute-illu {
  position: absolute;
  width: 300px;
  min-width: 230px;
  left: 0%;
  top: 0%;
}

.contents-acsl0003-area-layout-illust-151-absolute-car {
  position: absolute;
  width: 110px;
  right: -41%;
  bottom: 11%;
}

/* 知範囲：text */
.contents-acsl0003-area-layout-text-box {
  margin-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(20px, 10%) [col-start] 90% [col-end]);
}

.ri-arrow-drop-right-line {
  min-width: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contents-acsl0003-area-layout-text-box-p {
  grid-column-start: 2;
  grid-column-end: 3;
  font-weight: var(--font-regular);
}

.contents-acsl0003-area-layout-text-box p {
  font-weight: var(--font-regular);
}

/* 検知範囲：画面内警告表示〜：layout-warning */

.contents-acsl0003-area-layout-text,
.contents-acsl0003-area-layout-warning {
  max-width: 400px;
}

div[class$="warning"] table {
  border-collapse: collapse;
  margin-top: 1rem;
}

div[class$="warning"] table thead tr th,
div[class$="warning"] table tbody tr td {
  border: 1px solid var(--first-color);
  text-align: center;
}

div[class$="warning"] table thead tr th {
  font-weight: var(--font-semi-bold);
  height: 2rem;
}

div[class$="warning"] table tbody tr td {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  width: 100px;
  min-width: 70px;
  height: 3rem;
}

div[class$="warning"] table thead > tr > th:nth-child(2),
div[class$="warning"] table tbody tr td:nth-child(2) {
  background-color: #b7e8d0;
}
div[class$="warning"] table thead > tr > th:nth-child(3),
div[class$="warning"] table tbody tr td:nth-child(3) {
  background-color: #ffedb0;
}
div[class$="warning"] table thead > tr > th:nth-child(4),
div[class$="warning"] table tbody tr td:nth-child(4) {
  background-color: #ffc3c2;
}

@media screen and (min-width: 681px) and (max-width: 900px) {
  .contents-acsl0003-area-layout {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, auto));
    gap: 20px;
    grid-template-rows: repeat(auto-fit, 1fr 1fr);
    padding: 1rem;
    justify-content: space-evenly;
  }

  .contents-acsl0003-area-layout-illust {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .contents-acsl0003-area-layout-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .contents-acsl0003-area-layout-warning {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 680px) {
  .contents-acsl0003-area-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, auto));
    gap: 20px;
    grid-template-rows: repeat(auto-fit, 1fr 1fr 1fr);
    padding: 1rem;
    justify-content: space-evenly;
  }

  .contents-acsl0003-area-layout-illust {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .contents-acsl0003-area-layout-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .contents-acsl0003-area-layout-warning {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .contents-acsl0003-area-layout-text,
  .contents-acsl0003-area-layout-warning {
    max-width: 400px;
    margin: auto;
  }

  .contents-acsl0003-area-layout-warning {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 365px) {
  .contents-acsl0003-area-layout-illust-151-relative {
    margin-top: 1rem;
    position: relative;
    width: 150px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
    right: 40px;
  }

  .contents-acsl0003-area-layout-illust-151-absolute-illu {
    position: absolute;
    width: 180px;
    min-width: 220px;
    left: 0%;
    top: 0%;
  }

  .contents-acsl0003-area-layout-illust-151-absolute-car {
    position: absolute;
    width: 80px;
    right: -39%;
    bottom: 15%;
  }

  div[class$="warning"] table thead tr th {
    font-weight: var(--font-semi-bold);
    height: 2rem;
    font-size: var(--small-font-size);
  }

  div[class$="warning"] table tbody tr td {
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    width: 100px;
    min-width: 30px;
    height: 3rem;
  }
  .contents-acsl0003-area-layout-text,
  .contents-acsl0003-area-layout-warning {
    min-width: 200px;
    max-width: 300px;
    margin: auto;
  }
}
